[2018-08-31 14:27] y2j44 opened #5 "Compare image issue"
Hey:

Thaknks for creating this. I'm trying to get this to work for the first time. I took a baseline image and now i switched to test mode. It takes both the baseline and test image and they look the same, but when it runs the compare images in test mode, it errors

ValueError: could not convert string to float:

![image](https://user-images.githubusercontent.com/42870531/44918201-6162ab00-ad08-1

[2018-09-01 01:29] idxn commented on #5
You need to install Imagemagick as stated in the readme. If you already installed it, you probably need to add imagemagick installation folder to your PATH environment variable.

[2018-09-04 18:03] y2j44 commented on #5
thank you all. I had installed Imagemagick and add the folder location to my PATH Env variable but i did not reboot. After reboot, I'm good to go.

One quick question i was able to capture image and compare, working great. Are there any functions to compare regions and/or elements?

thanks again

[2018-09-05 05:41] jz-jess commented on #5
@y2j44 You can capture an element in a page using the capture element keyword ( refer ReadMe). Eg: capture element <locator>

Feel free to raise any feature requests that you feel can add value. There are some tasks in Todo like making this seamless when run using pabot. Feel free to collaborate

[2018-09-05 12:27] y2j44 commented on #5
that's awesome. thanks so much!

[2018-09-24 19:55] s-galante opened #6 "Update to use of SeleniumLibrary"
Any chance there will be an update to the base to include the shift from Selenium2Library to SeleniumLibrary as Selenium2Library will be considered deprecated in the latest version per:
http://robotframework.org/Selenium2Library/Selenium2Library.html

I currently use a modded init file to target the SeleniumLibrary to limit the need to install the older library on my docker calls for basic image t

[2018-09-25 17:56] jz-jess commented on #6
@s-galante I got some time to work on this today. Here is the pull request.

[2018-09-26 05:02] jz-jess commented on #6
Pull request has been merged. Support for SeleniumLibrary in version 0.56. pip install robotframework-eyes==0.56. Closing this. Thanks @s-galante

[2018-09-26 05:02] #6 closed

[2018-11-16 23:17] DiegoSanchezE commented on #6
Hi Jess, did this improvement get carried into v0.58 or am I missing something?
Thanks!

[2018-11-16 23:32] DiegoSanchezE commented on #6
Sweet! Thanks!

[2018-12-04 17:55] DiegoSanchezE opened #19 "False negative comparison results"
**Describe the bug**
I'm getting some false-negative, image comparison results, even though the `diff` images don't show much difference or any difference at all.

Potentially related to the how the report is generated after `compare images` is used **or** the number of pictures being compared.
I suspect the alphabetical sorting of the images names might be playing some role here.
That is, if you

[2018-12-04 19:11] DiegoSanchezE commented on #19
Nevermind, this is **not** a library issue. The "issue" is consistent on those pictures above only.
If those are NOT in the test, the test passes, no matter in what order the pictures are or how many there are.
Closing this issue request.

[2018-12-04 19:11] #19 closed

[2018-12-05 04:17] jz-jess commented on #19
This seems like something to do with imagemagick? Let me test these images manually with imagemagick.

[2018-12-05 04:31] DiegoSanchezE commented on #19
Don't worry about it, Jesse. It looks like the interaction of an one of my
layers with Mapbox's layers causes some random noise.
Can't really explain it yet, but it's definitely not an issue with the
library.
Thanks, tho

On Dec 4, 2018 20:17, "Jesse Zacharias" <notifications@github.com> wrote:

This seems like something to do with imagemagick? Let me test these images
manually with imagemagick.

[2019-02-27 20:17] filipehb opened #23 "There is only one failed test in report"
**Describe the bug**
After executing suit with 2 tests or more, the report of all tests isn't generated.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two test cases.
[
![tests](https://user-images.githubusercontent.com/869359/53519636-7bf8bf80-3ab2-11e9-96ca-36a8199ac520.png)
](url)
2. Execute tests.
3. See report.

**Expected behavior**
All tests should be in report.

**Screenshot

[2019-02-27 20:20] filipehb commented on #23
@jz-jess, I can analyze this problem and submit a pull request. What do you think?
[test.zip](https://github.com/jz-jess/RobotEyes/files/2912153/test.zip)

[2019-02-28 02:45] jz-jess commented on #23
@filipehb You can try running `reportgen path/to/results folder` to fix this issue.
The report autogeneration could be buggy, because it tends to delete report whose last modified at is more than 5 seconds. Feel free to analyse it though.

[2019-02-28 02:50] jz-jess commented on #23
@filipehb I think this could be happening because of the slowing down of selenium execution by using set selenium speed.

[2019-02-28 06:33] jz-jess commented on #23
@filipehb I have raised a PR with a possible fix since previous time difference calculation was wrong.
Can you please run your tests using this branch?
https://github.com/jz-jess/RobotEyes/pull/24

[2019-02-28 17:31] filipehb commented on #23
@jz-jess, i got this error sometimes, and visual report has the same behavior.

![image](https://user-images.githubusercontent.com/869359/53585596-1285b900-3b65-11e9-8b28-b1598687fb78.png)
[reports.zip](https://github.com/jz-jess/RobotEyes/files/2916136/reports.zip)

[2019-02-28 17:51] jz-jess commented on #23
@filipehb Thank you! Let me take a look at this issue. Keep you posted.

[2019-02-28 19:14] jz-jess commented on #23
@filipehb I was able to reproduce the issue. The issue is caused because of keyword `set selenium speed  1`.  The slow execution results in time difference threshold to more than 10 seconds between tests. Auto generation of report works in the following way.
- Since a new RobotEyes instance is created for each test, there is no way of knowing if the `visualReport.html` file belongs to the current

[2019-03-01 00:33] DiegoSanchezE opened #25 "Path to images with spaces breaks the compare function"
**Describe the bug**
If the images path contains spaces, the `compare` function fails.

**To Reproduce**

1. Create your robot project at a path that contains spaces, such as `G:\My Drive\Web-Automation`.
2. Create a test case that captures an image and then compares it against the baseline sample.

**Expected behavior**
The error I got was: `ValueError: could not convert string to float: b'nabl'`

[2019-03-01 02:58] jz-jess commented on #25
@DiegoSanchezE Will take a look.

[2019-03-01 05:01] jz-jess commented on #25
@DiegoSanchezE When running the tests do you provide the absolute path to results? Or maybe Imagemagick expands the path.

[2019-03-01 12:15] filipehb commented on #23
@jz-jess, i remove the keyword `set selenium speed 1` and `timeout=5` parameter of `Wait Until Element Is Visible`, but the issue continues to me.

![testrobot](https://user-images.githubusercontent.com/869359/53637656-7f9b5c00-3c02-11e9-8c43-176f30212f38.png)

[2019-03-01 12:17] jz-jess commented on #23
@filipehb I could not reproduce the issue after removing set selenium speed.
You don't have to remove timeout of wait until element is visible.

Did you try using the fix in the pull request?

[2019-03-01 12:26] filipehb commented on #23
@jz-jess, i got this error if use PR:

![image](https://user-images.githubusercontent.com/869359/53638097-f127da00-3c03-11e9-95a7-a9ce2b29acc9.png)

[2019-03-01 12:27] jz-jess commented on #23
@filipehb I have fixed that issue. Please pull the code and try once again.

[2019-03-01 12:42] filipehb commented on #23
@jz-jess, sorry i didn't see the new commit. The TypeError problem is solved, but in the report i got the same issue.

[reports.zip](https://github.com/jz-jess/RobotEyes/files/2919407/reports.zip)

![image](https://user-images.githubusercontent.com/869359/53638764-19b0d380-3c06-11e9-8401-27f806a99eb3.png)

[2019-03-01 12:53] jz-jess commented on #23
@filipehb okay.  After you run your tests, please run command `reportgen <results folder>` or `reportgen` if no results folder. This should generate a fresh report. Does this solve your issue?

[2019-03-01 13:03] jz-jess commented on #23
@filipehb I have pushed another commit which doubles the threshold. Please give it one last shot and see if it fixes your problem. I dont see any issues in my system. I dont have a windows system
<img width="1279" alt="screenshot 2019-03-01 at 6 32 29 pm" src="https://user-images.githubusercontent.com/7547737/53639869-7b962b00-3c50-11e9-926f-120be3670c8d.png">

[2019-03-01 13:39] jz-jess commented on #25
@DiegoSanchezE I have raised a potential fix. https://github.com/jz-jess/RobotEyes/pull/26
However I did not get the time to test this out. Can you please run you test using this branch and check if it does fix your issue?

[2019-03-01 16:13] DiegoSanchezE commented on #25
@jz-jess Definitely. I'll do that in a bit. Thanks!

[2019-03-01 17:55] filipehb commented on #23
Yes, solved :D.  Thx!

I will test with new PR.

[2019-03-01 18:56] filipehb commented on #23
@jz-jess, nice PR! Issue resolved for me 🥇.

[2019-03-01 18:58] jz-jess commented on #23
@filipehb Great. Deploy this soon in the next release

[2019-03-01 18:58] #23 closed

[2019-03-01 20:36] DiegoSanchezE commented on #25
It's working:
![image](https://user-images.githubusercontent.com/20429054/53664751-525ca700-3c1e-11e9-96d9-15f412c14489.png)
The comparison happened (and one of the failed). This implies that the library was able to find the images in the same, space-containing path that used to break the `compare` function.

[2019-03-02 06:31] jz-jess commented on #25
Fix released in version 0.64. Closing this

[2019-03-02 06:31] #25 closed

[2019-03-02 06:34] jz-jess commented on #23
Fix released in version 0.64

[2019-04-14 14:42] jesse019 opened #30 "Remove passing mode."
Code should be able to determine if the mode is test or baseline by checking if images or test_folder is available in the baseline directory. If during comparison baseline image doesn't exist. Actual image should automatically be moved to baseline.

Replacing existing baseline images with actual can be done by using the eyes server.

An optional argument called `images` could be added to allow sav

[2019-04-27 18:01] #30 closed

[2019-08-28 08:44] JoaoEnesGoncalves opened #35 ""Capture Element" keyword on IE11 returns "JavascriptException: Message: Error executing JavaScript""
On **Internet Explorerer 11** after call keyword "**RobotEyes.Capture Element**" was verified error message just with "**JavascriptException: Message: Error executing JavaScript"**

**note:** Internet Explorerer 11 webdriver was configured to enable JavaScripting

logs
[code]

[2019-08-28 09:03] jz-jess commented on #35
@JoaoEnesGoncalves Could you confirm that you're not facing this issue when calling the `execute javascript` directly from a selenium test in robot framework?

[2019-09-07 07:09] jz-jess commented on #35
Tried fixing this issue in https://github.com/jz-jess/RobotEyes/pull/37
If Javascript error is thrown by selenium, then coordinates will be fetched from the selenium's element object.

[2019-09-08 14:36] jz-jess commented on #35
Released fix in version 1.1.3

[2019-09-08 14:36] #35 closed

[2019-10-23 11:36] chemerson opened #41 "Would you mind refactoring "eyes" out of this repo for something equivalent?"
"Eyes" in testing indicates support for Applitools and this is using ImageMagick. Would you mind changing to something else like "PixelComparison"?

[2020-01-06 19:11] AllanMedeiros opened #44 "Custom folder to store baseline images"
**Is your feature request related to a problem? Please describe.**
Screenshots for each browser can be different, so we need to store them in different places.

**Describe the solution you'd like**
Just a way to set the directory where the images will be saved.
Then I'd add a Browser variable to the path.

**Describe alternatives you've considered**
I've implemented a screenshot comparison by myse

[2020-01-06 20:01] jz-jess commented on #44
@AllanMedeiros Baseline directory needs to be passed via the command line. Ex `-v images_dir:baseline/chrome`. Were you able to try this? Let me know if there is something additional that needs to be done to fix your usecase.

[2020-01-08 14:00] AllanMedeiros commented on #44
My bad, just started implementing this library and missed that.
Thanks!

[2020-01-08 14:00] #44 closed

[2020-01-08 20:10] AllanMedeiros opened #45 "Locators to be blurred should ignore NoSuchElementException error in Capture Screenshot keywords"
**Is your feature request related to a problem? Please describe.**
I have a single array of many fields to be blurred in the screenshot, but not all of them appears in every page of the application, so eventually I get NoSuchElementException error because one of these fields is not present in the current page.
I'm using a test case template to perform the same set of actions in many pages, would n

[2020-01-09 06:31] jz-jess commented on #45
@AllanMedeiros Makes sense. This would help avoid creating multiple blur variable arrays. Will push the change for this as part of the upcoming release.

[2020-01-09 16:56] AllanMedeiros commented on #45
Added this import in selenium_hooks.py
`from selenium.common.exceptions import NoSuchElementException`

And changed this method like this.

[code]

Let me know if you thought something different than that.
But after a few runs, seems to be working fine.

[2020-01-09 17:25] jz-jess commented on #45
@AllanMedeiros This is exactly how I was planning to fix it. Could you raise a pull request with this code please?

[2020-01-10 13:15] AllanMedeiros commented on #45
ok, done!

[2020-01-12 19:05] jz-jess commented on #45
Released in v1.3.0

[2020-01-12 19:05] #45 closed

[2020-02-10 11:36] Aarushigarg3 opened #49 "Could parse comparison output: compare: width or height exceeds limit"
Getting the following issue while executing the visual automation test cases:

Could parse comparison output: compare: width or height exceeds limit  @ error/cache.c/OpenPixelCache/3671.

[2020-02-10 11:42] jz-jess commented on #49
@Aarushigarg3 Could you please update the library to a later version and see if it still persists?

[2020-02-10 11:54] Aarushigarg3 commented on #49
@jz-jess i have the version `robotframework-eyes 1.3.0`, but still getting the same issue

[2020-02-10 12:14] jz-jess commented on #49
@Aarushigarg3 Could you run command `compare -metric RMSE -subimage-search -dissimilarity-threshold 1.0 image1_path image2_path image3_path`  on your terminal and confirm the output please?

[2020-02-11 07:27] Aarushigarg3 commented on #49
@jz-jess gave the whole path, but still couldn't get through, getting same error!
<img width="1220" alt="Screenshot 2020-02-11 at 12 57 37 PM" src="https://user-images.githubusercontent.com/35030326/74217627-03444080-4cce-11ea-9e68-72c792b7bc8b.png">

[2020-02-11 07:41] jz-jess commented on #49
You also need to pass a third argument, image path to generate the diff image

[2020-02-11 07:45] Aarushigarg3 commented on #49
@jz-jess I did that as well

<img width="1227" alt="Screenshot 2020-02-11 at 1 15 54 PM" src="https://user-images.githubusercontent.com/35030326/74218624-89618680-4cd0-11ea-8e29-0483ff61faa5.png">

[2020-02-11 08:04] jz-jess commented on #49
@Aarushigarg3 This is an issue with ImageMagick and not with the library. The size of the images being compared is exceeding the limit set in Imagemagick policy in your machine. You could try increasing the limit. Please check
http://www.imagemagick.org/discourse-server/viewtopic.php?t=34044

I will look at resizing the images to an acceptable limit before comparing for the next release. Could you

[2020-02-14 08:16] bioneyez opened #50 "Using frames messes up the blur effect."
**Bug**
When I try to blur an element out and the page contains frame elements then the blur is mislocated on the screenshot. For example If i have a 100px frame on the left side (menu) then on the main frame the blur effect is 100px to the left compared to the element I want to blur out.

**To Reproduce**
Steps to reproduce the behavior:
Try to blur out elements on a page containing frames and fr

[2020-02-14 08:20] jesse019 commented on #50
@bioneyez Could you provide some more information for better understanding like a screenshot of the webpage with the element that you were trying to blur and the actual blur?

[2020-02-14 08:29] bioneyez commented on #50
![Capture](https://user-images.githubusercontent.com/13623153/74513938-f2810e00-4f0b-11ea-92ec-f294fe1cbd1b.PNG)

On the left side you can see a house icon (thats the menu but now its collapsed). I wanted to blur out the application number text input. As you can see the blur is misaligned. I tried it without collapsing the menu and in that case the blur is even more misaligned since then the menu

[2020-02-14 15:52] jz-jess commented on #50
@bioneyez Thanks for posting a probable solution. Based on your investigation if I may ask, could you try modifying the source code to fetch coordinates using selenium driver? Currently the coordinates are fetched using javascript. Method `_get_coordinates_from_driver(self, element)` fetches coordinates from the driver. Im hoping that if the offset issue could be solved using selenium then there w

[2020-02-17 08:58] bioneyez commented on #50
@jz-jess I tried modifying the source code as you suggested, but the result is the same. Selenium driver returns the coordinates relative to the current frame, not the whole page.  https://sqa.stackexchange.com/questions/32617/how-to-get-coordinates-of-element-inside-iframe

[2020-02-17 09:07] jz-jess commented on #50
@bioneyez Understood. I'd prefer that we fix the issue using python similar to the code in the link above.
I'm assuming now that this would be breaking even the `capture element` keyword.
I'm thinking we could add an argument in the capture keywords to take frame locators in a list and then modify the blur method to get location of frames using selenium and adding it to the elements location.
Sinc

[2020-02-17 10:00] bioneyez commented on #50
@jz-jess I'm not sure we need to pass the frames as a list, since we can retrieve all the parent frames automatically. I would prefer python as well, but I think it's a struggle to get all the frame positions using selenium driver. Right now my only idea is to iterate through all the parent frames using switchTo and accumulate the offset, but then we need to switch back to the original frame. If y

[2020-02-17 10:08] jz-jess commented on #50
@bioneyez If you have implemented the JS code in the library and called it using selenium execute script, then I would like to take a look at it. You can raise a pull request

[2020-02-17 10:34] bioneyez commented on #50
@jz-jess Another issue came into my mind. What if we want to blur elements in different frames. Right now I think it's only possible to blur elements in the active frame.

[2020-02-17 10:38] jz-jess commented on #50
@bioneyez What if we call `select frame` keyword first and then call the `capture element` keyword?
If this doesnt work then support would have to be added :)

[2020-02-17 12:33] bioneyez commented on #50
@jz-jess My problem with the above mentioned suggestion is that I think it should be possible to capture the full screen and just pass a list of elements that should be blurred regardless of which frame contains which element. Either by specifying some kind of pattern ex. "frameName:class=tail". I think its cumbersome to specify a list of elements for each frame the page contains and then capturin

[2020-02-17 12:44] jz-jess commented on #50
@bioneyez Let me try to put it another way.
The library is essentially just an extension to selenium. Now consider an example where you are writing a functional test.
To interact with an element within a frame, you would ideally switch to frame using selenium and then interact with the required element.
This is the behavior that this library would also ideally mimic.
The above step is only when yo

[2020-02-17 12:53] bioneyez commented on #50
Thats exactly how I imagined.

[2020-02-17 12:57] jz-jess commented on #50
@bioneyez So we're on the same page then :)
Feel free to update your pull request with your fixes. Will release it as part of the upcoming release post review and testing

[2020-02-19 09:46] bioneyez commented on #50
@jz-jess Can you help me out implementing the capture full screen functionality the way we agreed upon earlier? I tried it and its not that straightforward as I thought.

My concept was:
1. Get the current frame
`initialFrame = self.driver.execute_script("return self.name")`
2. Switch back to the root content and get all the frames in the page

[code]
3. Iterate through all the frames and call the

[2020-02-19 09:58] jz-jess commented on #50
@bioneyez StaleElementReferenceException commonly occurs when iterating over a list of loctors. In this case maybe frames. I think the state of DOM is changing in between the iterations which is why the error is thrown.

Before we get into the issue, in your current approact how do we get to know that the region we're trying to blur is within a particular frame?

[2020-02-19 10:03] bioneyez commented on #50
@jz-jess Right now I don't care about that. I'm trying to blur all the specified elements in all the frames. (later I plan to modify that but for now I think it's okay).
So for example if id=element is in both frame1 and frame2, then it should blur out that element in both of those frames.

[2020-02-19 10:14] jz-jess commented on #50
@bioneyez Looks like we are trying to find a non existent selector within a frame.
https://stackoverflow.com/questions/53246587/slate-element-reference-exception-when-handling-frames

Would this be the reason?

[2020-02-19 10:17] jz-jess commented on #50
I think we need to switch to default_content within the loop after blurring, so we can switch to the next frame.

[2020-02-19 12:56] bioneyez commented on #50
Good point. Now it looks like its working as expected.
What do you think how should it work in case of **capture full screen** keyword?
Should we care about which frame contains the specified element or just blur out the specified element in every frame? If yes, how should it work? Adding some kind of identifier logic for example:
**frame=frameName&class=elementClass** (I'm open for suggestions) a

[2020-02-19 13:20] jz-jess commented on #50
I think we could try blurring an element in every frame. We should catch NoSuchElement exception and continue incase element isn't present.
Keep it simple for the user.
In most cases there will not be frames present I assume. And above logic should take care of it if frames are present. This would require quite a bit of testing though :)

[2020-02-19 14:03] bioneyez commented on #50
I pushed the solution to the existing pull request,
Extensive testing will be required since I've only managed to do a little bit. I hope everything is ok though.

[2020-02-21 10:22] bioneyez opened #52 "Problem with pabot execution"
**Bug**
I have two problem using pabot with the RobotEyes library.
1. When I execute the tests using pabot with testlevelsplit then in the pabot_results folder the library generates an unnecessary folder with the test case name -1 character instead of using the existing one named same as the test case.
For example in case of test case name **This is a dummy test**. The pabot_results will contain t

[2020-02-21 10:38] jz-jess commented on #52
@bioneyez The library isn't designed to work with pabot at a testlevel split. Any particular reason as to why you want use a test level split?

[2020-02-21 15:09] bioneyez commented on #52
@jz-jess Yes. My test cases does not depend on each other so I want to execute them parallelly, but I don't want to make a test suite for each of them.

[2020-02-21 15:51] jz-jess commented on #52
@bioneyez Implementing support for test level split might take time since I need to understand pabot's implementation of it.
Currently the library gets the test case name and output directory using robot framework's APIs.
Pabot executes each suite individually with a pybot/robot command and stores the results in a temp folder and merges them at the end. Library takes the path till `pabot_results`

[2020-02-24 08:38] bioneyez commented on #52
@jz-jess Alright. I'll try to find some time and help out if I can with this issue.

[2020-04-28 12:53] friendlyfreedom opened #53 "Remove dependency S2L lib"
**Is your feature request related to a problem? Please describe.**
I've not installed Selenium2Library, as I'm using SeleniumLibrary, which is also the default of RobotEyes, but when installing with pip, S2L is automatically installed as a depencancy, but it works fine without.

**Describe the solution you'd like**
remove robotframework-selenium2library from install_requires in Setup.py

[2020-05-01 07:20] jz-jess commented on #53
Removing SeleniumLibrary and Selenium2Library dependency. Will add SeleniumLibrary dependency back to setup if or when Selenium2Library is deprecated

[2020-05-01 07:21] jz-jess commented on #53
This will go out in release 1.3.1

[2020-05-01 07:22] jz-jess commented on #49
Closing this on account of inactivity. Feel free to re-open if necessary

[2020-05-01 07:22] #49 closed

[2020-05-01 09:32] jz-jess commented on #53
Released in version 1.3.2

[2020-05-01 09:32] #53 closed

[2020-05-01 09:34] jz-jess commented on #50
@bioneyez This has been released in v1.3.2. There were a couple of bugs in your pull request. However they were minor and I was able to fix them. I was able to test it against demo pages with iframes.
Thanks for the help.

[2020-05-01 09:34] #50 closed

[2020-06-15 02:50] Jun-Zhu-Trend opened #57 "How to check visualReport on Jenkins remotely"
**Describe the bug**
The image path is absolute path which is embedded when created, and when using Jenkins HTML report plugin, it cannot show the report well , how can I configure to show it on Jenkins server correctly ?

<img width="866" alt="1" src="https://user-images.githubusercontent.com/66586973/84613268-83d1b280-aef5-11ea-9c64-b3d0f8591fa1.png">
The path "href="C:\ci-l10n\workspace\I18N\Te

[2020-06-15 07:51] Jun-Zhu-Trend commented on #57
I use one alternative way to use another python script to update the report HTML by using relative path in the report HTML, and it works, like below:
"href=".\base\VisualDiffGoogle\img1.png"
Since it needs me to write another script to update the script manually,  I am not sure whether there is a better way to generate the visualreport directly by using relative path inside it.

[2020-06-15 08:18] jz-jess commented on #57
@Jun-Zhu-Trend Thanks for using the library.
I went through the code and it does look like absolute path is used for baseline folder. Could you please confirm if the actual and the diff images also contain absolute path in your local system?

[2020-06-15 08:31] jz-jess commented on #57
@Jun-Zhu-Trend For the time being, instead of using your own script you can generate the report again with relative paths by using the following command instead,
`reportgen --baseline=<baseline image folder> --results=<results folder>` . Just pass relative paths to baseline directoy and results/output directory. This should solve the problem with absolute path

[2020-06-15 09:36] Jun-Zhu-Trend commented on #57
I just tried to genereate the report again after run with : reportgen --baseline=base --results=results .
it works,
thanks a lot.

[2020-06-15 09:59] #57 closed

[2020-07-28 04:09] nixuewei opened #59 "join() argument must be str or bytes, not 'NoneType' when run Open Eyes|lib='Selenium2Library'|tolerance=5"
**Describe the bug**
join() argument must be str or bytes, not 'NoneType' when run  Open Eyes|lib='Selenium2Library'|tolerance=5

**To Reproduce**
Steps to reproduce the behavior:
1. install pip install robotframework-eyes
2. install Imagemagick7 on windows10 or macos Catalina 10.15.5
3. copy code
`*** Settings ***
Test Teardown
Library           SeleniumLibrary
Library           RobotEyes

*** Te

[2020-07-28 05:02] jz-jess commented on #59
@nixuewei Did you pass the path to baseline directory and output directory when running tests. Refer the ReadMe for the command.

[2020-07-28 07:35] nixuewei commented on #59
sorry for my misunderstanding the document, after running on command, it works well. so great. thank you! please close it

[2020-07-28 07:46] jz-jess commented on #59
@nixuewei That's alright. I will add a validation for the path in the upcoming release to avoid any confusion. Keeping this ticket open until then.

[2020-07-28 07:53] nixuewei commented on #59
that was great!

[2020-08-08 12:31] #59 closed

[2020-08-12 20:32] BRawitt00 opened #62 "Issue with taking screen shots of individual components"
I am unable to capture individual elements with 'Capture Element'. The same element from the same html page can be captured on an associate's machine. Robotframework, robotframework robot-eyes, and selenium are all the same version. I can capture the element when using the selenium library built in 'Capture Element Screenshot' followed by the xpath to the button. I have tested this with numerous e

[2020-08-12 21:24] jz-jess commented on #62
@BRawitt00 I normally test the library on Mac OS Mojave. Can you confirm if your colleague is also on the same OS? Also would you be able to share your testcase with me just so I can confirm there's nothing missing.

I was not aware that selenium now comes with the ability to capture element screenshot. The library captures a full page screenshot and crops the element out based on its coordinates.

[2020-08-13 12:14] jz-jess commented on #62
@BRawitt00 I investigated this a bit and it looks like capture element screenshot is relatively new and supported only on latest version of browsers.
I'm not sure if your issue is related to screenshot getting captured. It seems from your screenshot that a diff image is getting generated. It could be that the actual image is captured but not showing up in the report. However I can only help you ou

[2020-08-13 13:07] BRawitt00 commented on #62
Yes I can confirm my colleague is also on Catalina.

My test case code is as follows:

Test Screenshot
    Open Eyes   SeleniumLibrary
    Create New File With Name   testFile.pmd
    Reload Page
    Click On My Files
    Click On Item By Name     testFile.pmd
    Capture Element           css=app-text-file > mat-toolbar > button:nth-child(6)
    Compare Images

For this test case several of these

[2020-08-13 13:08] BRawitt00 commented on #62
No problem. I can try and provide whatever additional information you need. This path, leading finally to my test case, was empty.

[2020-08-13 13:17] jz-jess commented on #62
@BRawitt00 I see. Was the test case folder not created either?

[2020-08-13 13:24] BRawitt00 commented on #62
The folder for the test case 'Test_Screenshot' was created and in the path you listed, it was simply empty.

[2020-08-13 13:28] jz-jess commented on #62
@BRawitt00 Understood. You're right. The image does not seems to have been saved. I might have to upgrade my Mac to Catalina to reproduce this. Could you help me with a couple more information?
 - Do you see any exception being thrown in the `capture element` keyword in the report?
 - Is your Macbook model one of the lest ones? Could you confirm if your colleague uses the same model as well?

[2020-08-13 13:41] BRawitt00 commented on #62
No exceptions are being thrown anywhere during the Test_Screenshot test case. The laptops we are currently using are distributed by our employer so I believe they are all the same. They are MacBook Pro 15 inch, 2019.

[2020-08-13 13:42] jz-jess commented on #52
@bioneyez I finally took some time to investigate this. It looks like the issue was with pabot instead of the robot eyes.
I upgraded pabot to 1.8.1 which is the latest. Ran the following command:
`pabot --processes 2 --testlevelsplit -d results -v images_dir:base Tests`

Everything seems to have run fine for me. The `visual_images` folder got generated at the root of results folder and not within

[2020-08-13 15:20] jz-jess commented on #62
@BRawitt00 I'm not really sure as to what could be causing this issue. I will try to reproduce this after upgrading to Catalina.

[2020-08-13 19:28] BRawitt00 commented on #62
Cool. Thanks for trying. I'm at a loss myself as to what is causing this.

[2020-08-15 17:03] kumy opened #64 "Report fails to generate when some test don't use RobotEyes feature"
**Describe the bug**
Only few of my tests use `RobotEyes`. The `reportgen` fails to generate the report with error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Have `Test Cases` with and without `RobotEyes`
ex:
[code]
2. Start `Robot Framework`
3. See error when report is generated

**Expected behavior**
No error should happen when some tests don't use `Open Eyes` keyword

**Scree

[2020-08-15 17:05] kumy commented on #64
Please find PR #65

[2020-08-15 17:18] kumy opened #66 "Choose report file destination"
**Is your feature request related to a problem? Please describe.**
I would like to have the `visualReport.html` along with the `Robot Framework` output files (using `-d` command line parameter)

**Describe the solution you'd like**
`reportgen` should support a new argument to choose destination directory. It also would be great if the automaatic report generation at the end of `Robot Framework` co

[2020-08-15 22:29] kumy opened #67 "Incompatible with [Template]"
**Describe the bug**
`RobotEyes` save the reference pictures as the same name when `Test Cases` use the [template](https://robotframework.org/robotframework/latest/RobotFrameworkUserGuide.html#test-templates) functionality.

**To Reproduce**
Steps to reproduce the behavior:
1. Example test case:
[code]
2. Start `Robot Framework`
3. There no distinction in pictures saved in `visual_images/` during

[2020-08-16 05:43] jz-jess commented on #67
@kumy There is an optional name argument for the capture keywords. However that will not address the issue.
RobotEyes works on distinction between test case names. It's not really designed for data driven tests.
The issue here is that all test cases probably have the same name. I will take a look at how to address this and push this in the next release

[2020-08-17 19:00] jz-jess commented on #66
Fixed in https://github.com/jz-jess/RobotEyes/pull/68
Will go out in release 1.5.0

[2020-08-17 19:09] jz-jess commented on #64
Merged this. Will go out in release 1.5.0

[2020-08-17 19:10] #64 closed

[2020-08-17 19:11] jz-jess commented on #52
Closing this since issue is not reproducible and the thread is inactive. Feel free to reopen if needed

[2020-08-17 19:11] #52 closed

[2020-08-18 20:43] jz-jess commented on #67
I was able to fix this issue here https://github.com/jz-jess/RobotEyes/pull/69
I tested it a bit with a mix of regular and template type tests and also with pabot. The fix seems to work.  Here's the screenshot
<img width="1280" alt="Screenshot 2020-08-19 at 2 21 05 AM" src="https://user-images.githubusercontent.com/7547737/90563469-7ec50400-e1c1-11ea-8699-1b786072ee47.png">
The duplicate test name

[2020-08-18 20:49] jz-jess commented on #67
@kumy The above fix adds an optional argument to `open eyes` keyword called `template_id`. This is supposed to be a unique string which gets appended to the testcase folder to make it unique. For template type tests passing a unique value to `template_id` will RobotEyes compatible.
Does this seem like something you would be okay with? Here's how a template test could look like

`*** Settings ***
L

[2020-08-18 20:49] kumy commented on #67
Ho great! Thanks a lot @jz-jess.
Once merged into branch `v1.5.0` I'll try those new fixes.

[2020-08-18 20:59] jz-jess commented on #67
@kumy Just to add to my previous comment. I could actually remove the need for passing in a `template_id` completely and append something random to the test case folder if the test is of Template type. However that might result in creation of new random folders instead of overwriting existing ones on each test run atleast in you local machine.

Unless ofcourse you delete `visual_images` folder reg

[2020-08-18 21:20] kumy commented on #67
I don't think writing files indefinitely with random names is a good option. If there is no automatic way of finding the template index id, then it's good to specify it ourselves.

Wondering how `open eyes  SeleniumLibrary   template_id=${uid}` and `Capture Element                         ${element}    name=img${uid}` are different? Could the already existing `name` parameter be "fixed" to handle

[2020-08-18 21:33] jz-jess commented on #67
@kumy the ${uid} value is just reserved for template_id argument in open eyes. We don't need to pass ${uid} to capture element keywords.

The name argument in capture keywords is only to give it a custom name. You could pass ${uid} to that. However it makes no difference when it comes to fixing template tests.

The fix is to keep the test case folders unique and not the image files within them. Th

[2020-08-18 21:53] kumy commented on #67
It work fine with branch `data-drive-report-fix`. @jz-jess Thanks!
[code]

![Screenshot from 2020-08-18 23-49-08](https://user-images.githubusercontent.com/176794/90569174-a9a55d00-e1ad-11ea-993d-cfe97b537da8.png)

[2020-08-24 12:59] tiwarishrijan opened #72 "Issue in Capture Full Screen when viewport is changed in chrome options"
**Describe the bug**
I have created mobile simulation on browser by setting chrome options as below

[code]
When i take screenshot using `Capture Full Screen` keyword it actually widens the whole screen due to which screenshot is scaled
Example Image
![img1](https://user-images.githubusercontent.com/6523607/91047424-a986e080-e637-11ea-84e7-fad1776c9d5c.png)

[2020-08-24 13:07] jz-jess commented on #72
All web images are resized to a specific size in order to ensure that comparison is done between images of same sizes.
Will add an enhancement to avoid resizing completely and implement another way to ensure sizes are equal before comparison.

[2020-08-24 20:49] jz-jess commented on #72
Fixed in https://github.com/jz-jess/RobotEyes/pull/73

[2020-08-28 07:24] jz-jess commented on #72
Fix has been released

[2020-08-28 07:24] #72 closed

[2020-09-07 16:46] janringas opened #74 "Don't throw an error if RobotEyes isn't actually used in a test case, but still imported in ***Settings***"
**Is your feature request related to a problem? Please describe.**
I'm having an issue when I **don't** use RobotEyes in one of my tests.
Because I globally import it in a resource file (and use it in some cases, but not in others) I can't import it only in those cases I actually need a keyword using RobotEyes.
In this "problematic use case" the instance (is that the correct wording?) of the Robot

[2020-09-07 19:02] 12jakubpavel opened #75 "Result output in a non-root directory ("
**Describe the bug**
If I run this command: **_robot -d ./../DCS/results -v
images_dir:./../DCS/results/visual_images/baseline --test "PDF Visual
Overflow" ./../DCS_**  generate_report fail

If I run this command: **_robot -d results -v
images_dir:./../DCS/results/visual_images/baseline --test "PDF Visual
Overflow" ./../DCS_**  generate_report pass

**Screenshots**
**_robot -d ./../LTSA/DCS/result

[2020-09-09 10:17] Twista commented on #75
Hello, I have same problem.

It seems that the issue is in this line

https://github.com/jz-jess/RobotEyes/blob/master/RobotEyes/__init__.py#L246

when absolute windows path (e.g. `C:\Results`) is provided, the first letter is stripped and therefore report_path is set to \Results - which doesn't exist

[2020-09-09 14:44] jz-jess commented on #75
Fix released in 1.5.2

[2020-09-09 14:44] #75 closed

[2020-09-09 14:45] jz-jess commented on #74
Fix released in 1.5.2

[2020-09-09 14:45] #74 closed

[2020-11-12 09:50] leeuwe opened #77 "Support semicolumn for locator elements"
Currently it seems only `=` is supported. Seleniumlibrary has also adapted the semicolumn, for the following reason:

**Describe the solution you'd like**
Please add support for semicolumn as well. This will help preventing syntax errors for users (like me) who are accustomed to using the semicolumn

[2020-11-12 10:18] jz-jess commented on #77
@leeuwe Thanks for raising the issue. I haven't been actively tracking changes in SeleniumLibrary. Will add this support as part of the next release.

[2020-11-12 13:50] leeuwe opened #79 "Haven't been succesful with Capture Element (SL lib)"
**Describe the bug**
When using Capture Element, it still captures the whole screen. I've tried everything i could think of, but it just isn't working.

**To Reproduce**
Steps to reproduce the behavior:
Open Eyes    lib=SeleniumLibrary    tolerance=10
[some navigate selenium steps]
Capture Element  id=map
Result:
![img1](https://user-images.githubusercontent.com/66635066/98947941-19e62500-24f6-11e

[2020-11-12 13:54] jz-jess commented on #79
@leeuwe Apparently I ended up breaking multiple things in the last release. I just fixed them and released in 1.5.3. Could you please upgrade and try?

[2020-11-12 13:55] jz-jess commented on #77
Added this support in release 1.5.3.

[2020-11-13 07:28] jz-jess commented on #77
Closing this. Please re open if it doesnt work

[2020-11-13 07:28] #77 closed

[2020-11-13 07:29] jz-jess commented on #79
Closing this. Please reopen if the issue is still happening

[2020-11-13 07:29] #79 closed

[2020-11-13 09:05] leeuwe commented on #79
@jz-jess Thanks for the awesomely quick response and fix. All works smooth and quick!

[2020-11-13 09:25] leeuwe commented on #77
Verified. Working with both Blur function and selectors. Tested on ID and CSS selectors.

[2021-02-25 15:43] josev814 opened #83 "Unit Testing Integration with Travis or Circle CI"
It would be nice to have Unit Tests developed for the purpose of ensuring that when PRs are done that the PR doesn't break any of the features already available in the package.

Unit Tests could be created and then use Travis-CI or Circle-CI to run the unit tests prior to allowing a PR to be merged.

It looks like others have worked on getting a robot test running in Circle CI, so it should be pos

[2021-03-03 07:37] MininAS opened #86 "It seems that executed file name of Imagemagick is not correct for current version in README."
![image](https://user-images.githubusercontent.com/48047242/109770315-79368500-7c0c-11eb-9ea6-020a3bc04050.png)

[2021-03-03 08:30] jz-jess commented on #86
@MininAS Could you elaborate please. Are you aware of the filename in the current version? Was there any issue you faced due this?

[2021-03-12 08:38] MininAS commented on #86
The version is ImageMagick-7.0.11-Q16-HDRI. I assume that file name is "magick.exe". And it didn't riase some issue just a little was confused when I was tring to find "compare.exe" by "where compare.exe" from console. :)

![image](https://user-images.githubusercontent.com/48047242/110914064-efcb3500-8326-11eb-9b3e-97fd609a7afa.png)

[2021-04-06 09:16] MininAS opened #88 "Full or relative path for baseline image directory"
**Describe the bug**
What can we set like path for baseline image directory? Should it be full or relative path?
With full path a test finishes correctly.
[code]

Console output =>
![image](https://user-images.githubusercontent.com/48047242/113679304-4cbccf80-96c8-11eb-8c77-b5ca1b57e18e.png)

But if we pointed relative path
[code]

Console output =>
![image](https://user-images.githubusercontent.c

[2021-04-06 10:35] jz-jess commented on #88
@MininAS Relative Baseline path is supported. From the error log it looks like the failure occurs where it expects the output directory to exist. A condition above the assert statement checks for the existence of baseline folder. Seems like that's working fine.
Is your baseline folder within the output folder? And are you passing absolute path to the output directory?

[2021-04-06 12:03] MininAS commented on #88
Yep, baseline folder `${OUTPUT_DIR}${/}visual_images_original` is in output folder.

[2021-04-06 12:06] MininAS commented on #88
Yep. In this case OUTPUT_DIR = d:\robot-test-asset

[2021-04-06 12:14] jz-jess commented on #88
@MininAS Is this a separate location from where your tests are running?

[2021-04-06 12:17] MininAS commented on #88
the same

report_generation.py =>
[code]
    baseline_folder = "visual_images_original"
    results_folder = "D:\robot-test-asset"
so =>
    `results_folder.replace(os.getcwd(), '')` returns an empty because `os.getcwd()` = "D:\robot-test-asset"
then `relative_path` method gets the empty the second attribute and go to exception

[2021-04-06 12:19] jz-jess commented on #88
@MininAS Understood. The code is breaking when results are stored in the root itself. I'll fix this

[2021-04-06 12:22] MininAS commented on #88
Thank you!!! I'm looking forward to it. :)

[2021-04-06 13:03] jz-jess commented on #88
Hi @MininAS, I have pushed a fix in v1.5.7. Can you please upgrade and check if your issue gets resolved?

[2021-04-07 10:15] MininAS commented on #88
Big thanks!!! Works good locally and in automation Jenkins too.

[2021-04-07 10:24] #88 closed

[2021-04-08 15:09] MininAS opened #90 "Generating of report looks like broken."
I don't know why it happenes only now but I get other issue related with generate report.

Console output:
[code]

A little invesigation:  report_generator.py
![image](https://user-images.githubusercontent.com/48047242/114050636-1ed8b600-9895-11eb-9cac-7671861dd12a.png)

[2021-04-08 15:44] jz-jess commented on #90
@MininAS Is your test a template test (data driven) one?

[2021-04-09 04:32] jz-jess commented on #90
@MininAS ok, I will take a look. Did you by any chance edit the open_eyes function in the __init__.py file?

[2021-04-09 05:15] jz-jess commented on #90
Also could you provide the robot framework version you are on?

[2021-04-09 05:58] MininAS commented on #90
No, didn't any editing.

Python 3.6.8
robotframework=3.1.2
robotframework-seleniumlibrary=4.3.0
robotframework-eyes=1.5.7
selenium=3.141.0

[2021-04-09 06:13] jz-jess commented on #90
Okay Thanks. I think the first element with msg tag is the list of Arguments passed to open_eyes. I think RF logs the Arguments by default. It's most likely a bug. I will fix this as soon as I get some time today or tomorrow. I'm planning to add tests so these type of issues can be avoided. However it is something that needs time.
If you would like to help out by adding some regular Robot tests wi

[2021-04-09 07:31] MininAS commented on #90
I'll try to find time for that :)

[2021-04-10 06:56] jz-jess commented on #90
Hi @MininAS, I'm trying to reproduce this issue, however I'm unable to. Everything is working fine in my local machine using the same version of robotframework and selenium as yours. Here is what the `open eyes` keyword looks like in my `output.xml`
`<kw name="Open Browser" library="SeleniumLibrary">
<doc>Opens a new browser instance to the optional ``url``.</doc>
<arguments>
<arg>${url}</arg>
<ar

[2021-04-10 07:07] MininAS commented on #90
[code]

[2021-04-10 07:17] jz-jess commented on #90
@MininAS Ah understood! That explains why there are multiple msg elements. Let me fix this.
For the timebeing, if you remove `loglevel`, report generation should work fine

[2021-04-10 07:36] jz-jess commented on #90
@MininAS Released a fix in 1.5.8. Please upgrade. Let me know if it works

[2021-04-10 07:48] MininAS commented on #90
Works fine with and without `loglivel`!!! Thanks a lot for fast support

[2021-04-10 07:49] #90 closed

[2021-04-24 06:29] MininAS opened #92 "The visualReport should display images withour a blur"
Does it possible to do that visualReport displays images without a blur?
A very small image looks horrible.

Example with the microphom from the google search input field:
![image](https://user-images.githubusercontent.com/48047242/115949683-65f2b800-a4df-11eb-8d3e-b1ceb90999e3.png)

[2021-04-24 06:41] jz-jess commented on #92
This is because small icons are saved with larger dimensions, it ends up looking stretched. I can enhance the capture element keyword to additionally take dimensions to save the image in. I will have to check if there's a way to automatically do this

[2021-04-24 07:35] MininAS commented on #92
Hmm... The visual_images folders contain saved images with own dimensions, i don't see some icons are saved with larger dimensions.
![image](https://user-images.githubusercontent.com/48047242/115951319-cf2af900-a4e8-11eb-99b4-8d806018e666.png)

[2021-04-24 07:54] jz-jess commented on #92
My bad. I had fixed the dimensions issue a while back. This issue is because the report html contains fixed width and height for each image in the table. Retaining the original image width and height might probably make the table look uneven. Will check it out. Meanwhile, if you are able to fix the css of the table cell, then you can raise a PR or send me the css changes.

[2021-04-24 08:10] MininAS commented on #92
fixed width and height for each image in the table - is good!!!

[2021-04-24 08:14] MininAS commented on #92
I assume that is the browser does blur for small image when it is displayed in bigger size then it is

[2021-04-24 08:15] jz-jess commented on #92
Yes because the width and height is fixed. Smaller images get stretched width and height wise

[2021-04-24 09:07] MininAS commented on #92
Found some solution http://jsfiddle.net/namuol/VAXrL/1459/

[2021-04-24 09:11] MininAS commented on #92
It seems it works
![image](https://user-images.githubusercontent.com/48047242/115953791-31d6c180-a4f6-11eb-86a6-6f6d5abbd6e1.png)

[2021-04-24 10:21] jz-jess commented on #92
Can you raise a PR with the changes? You need to make the changes here https://github.com/jz-jess/RobotEyes/blob/master/RobotEyes/report_generator.py#L315 . From line 315 - 335. I can  test and merge it later. You can change the version 1.5.9 in setup.py

[2021-04-24 11:06] MininAS commented on #92
Do you mean to add style for each <img>?

[2021-04-24 11:11] jz-jess commented on #92
Ah I see. We can't just add it for everything right. This needs to be added only if the image is small?

[2021-04-24 11:26] MininAS commented on #92
Very good question!!! I will check and let known

[2021-04-24 11:52] MininAS commented on #92
I think we can image-rendering: pixelated; for any image.
![image](https://user-images.githubusercontent.com/48047242/115957655-68b7d200-a50c-11eb-9d14-55ca632b1977.png)

But my previous questiom is means to add style directly to HTML tag? Or we can add it to some common parent tag?

[2021-04-24 11:57] jz-jess commented on #92
The style needs to be added to the img tags I believe. Not sure if adding to parent will work. You can add a css at the beginning within style tags img { width: 200 image-rendering: pixelated} something like this.

[2021-04-26 09:11] MininAS commented on #92
[code]

[2021-04-26 09:14] jz-jess commented on #92
https://opensource.com/article/19/7/create-pull-request-github

[2021-04-26 10:36] MininAS commented on #92
https://github.com/jz-jess/RobotEyes/pull/94

[2021-04-29 08:18] MininAS commented on #92
Should I do somethink else that PR can be pushed?

[2021-04-29 08:37] jz-jess commented on #92
Nope. I need to test it as soon as I find sometime. Will merge after. You can install your branch into your systems meanwhile to use the fix.

[2021-05-31 07:27] #92 closed

[2021-06-03 13:58] MininAS opened #95 "The RobotEyes library would may to use different folders for baseline image."
Let our test asset contains several test suites. By some reason we need to use separeted baseline images folder for each suite.
We know the folder name should be set to IMAGES_DIR variable.

But when the report generator script start to create visualReport we get exception because IMAGES_DIR variable contains last set value from the last test suite and previous folder names can not be found.

`Exc

[2021-07-15 07:53] jz-jess commented on #95
Im not actively working on this library as I'm busy working on other projects in my free time. If you can work on an implementation, I would be happy to take a look at it

[2021-07-21 08:36] zhangschunfeng opened #96 "No keyword with name 'Capture Element id=s-hotsearch-wrapper' found"
**Describe the bug**

**No keyword with name 'Capture Element id=s-hotsearch-wrapper' found.**

**To Reproduce**
Steps to reproduce the behavior:

Open Browser    https://www.baidu.com/    firefox
Maximize Browser Window
Open Eyes    SeleniumLibrary  5
Wait Until Element Is Visible    id=s-hotsearch-wrapper
sleep  3
Capture Element id=s-hotsearch-wrapper
Close Browser
Compare Images

e.

[2021-07-21 09:39] jz-jess commented on #96
@zhangschunfeng You should provide 2 spaces or more after capture element

[2021-07-26 13:16] #96 closed

[2021-11-05 09:55] Wutsarawuthiveground commented on #88
Hello @MininAS

          Could you please share the command to start your test?
so I had facing issue error >> 'please provide image baseline directory'

My command is >>  robot -d regression -v image_dir:out1 .\robot-test\..

[2021-11-09 07:34] MininAS commented on #88
Hi! Your varible name is image_dir and should be images_dir.

[2021-12-21 12:30] 12jakubpavel opened #97 "Command from cmd into the test"
**Is your feature request related to a problem? Please describe.**
I need only to run tests with one CMD.

**Describe the solution you'd like**
I would like to move this: "-d ../output -v images_dir:${img_dig}" into the tests.

**Describe alternatives you've considered**
So far, I am testing 2 CMDs, but it is unsustainable in the future.

[2022-11-02 18:09] hatim523 opened #102 "FileNotFoundError exception while generating visual report."
**Describe the bug**
Using `Compare Two Images` keyword, when the `make_non_web_test_table` tries to find txt files by looking into jpeg files, it throws `FileNotFoundError` since no file for that name exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute keyword `Compare Two Images`.
2. When comparing process is done, the report fails to build due to the exception mentioned above.

[2022-11-04 10:55] jz-jess commented on #102
This keyword is very brittle. I wouldn't be surprised if its broken as I have not worked on improving this. I might look into this but I can't provide a timeline on when this can be resolved. Mind sharing the screenshot of the testcase?